[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = ">=2.0.0"


[dev-packages]

flake8 = "*"
ipdb = "*"
ipython = "*"
pylint = "*"


[requires]

python_version = "3.6"
